
<div class="container">
  <div class="article-form">
    <h2>{{ isEditMode ? 'Edit Article' : 'Add Article' }}</h2>
    <form [formGroup]="articleForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="title">Title</label>
        <input id="title" formControlName="title" placeholder="Enter title" />
        <div *ngIf="articleForm.get('title')?.invalid && articleForm.get('title')?.touched">
          Title is required.
        </div>
      </div>
      <div class="form-group">
        <label for="body">Body</label>
        <textarea id="body" formControlName="body" placeholder="Enter body"></textarea>
        <div *ngIf="articleForm.get('body')?.invalid && articleForm.get('body')?.touched">
          Body is required.
        </div>
      </div>
      <button type="submit" [disabled]="articleForm.invalid">
        {{ isEditMode ? 'Update Article' : 'Add Article' }}
      </button>
      <button type="button" (click)="resetForm()">Cancel</button>
    </form>
  </div>

  <!-- List of articles -->
  <div class="article-list">
    <div class="container">
      <h1>Liste des Articles</h1>
      <ul>
        <li *ngFor="let article of articles">
          <h2>{{ article.title }}</h2>
          <p>{{ article.body }}</p>
           <button (click)="viewDetails(article.id)">Voir Détails</button>
          <button (click)="deleteArticle(article.id)">Supprimer</button>
          <button (click)="loadArticleForEdit(article.id)">Modifier</button> 

        </li>
      </ul>
    </div> 