<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="detail-article.component.css">
</head>
<body>
  
<div *ngIf="article">
  <h1>{{ article.title }}</h1>
  <p>{{ article.body }}</p>
</div>

<div *ngIf="!article">
  <p>Loading article details...</p>
</div>

<div *ngIf="comments.length > 0">
  <h2>Comments</h2>
  <ul>
    <li *ngFor="let comment of comments">
      <strong>{{ comment.name }}</strong>
      <p>{{ comment.body }}</p>
      <p><em>By: {{ comment.email }}</em></p>
    </li>
  </ul>
</div>

<div *ngIf="comments.length === 0 && article">
  <p>No comments available for this article.</p>
</div>
<button (click)="router.navigate(['/'])">Retour à la Liste</button>


</body>
</html>