<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="detail-article.component.css">
</head>
<body>
    <div class="container">
        <h1>Détails de l'Article</h1>
        <div *ngIf="article">
          <h2>{{ article.title }}</h2>
          <p>{{ article.body }}</p>
          <button (click)="router.navigate(['/'])">Retour à la Liste</button>
        </div>
        <div *ngIf="!article">
          <p>Chargement...</p>
        </div>
      </div> 
       
      
</body>
</html>